@import "../../assets/style/variable.scss";

.footer {
  margin-top: auto;
  padding: 25px $padding__section;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $neutral_1;

  gap: 20px;
  & p {
    color: rgba(255, 255, 255, 0.959);
  }
}

.social__media {
  display: flex;
  align-items: center;
  gap: 15px;
  & .social__media__footer {
    padding: 10px;
    border-radius: 50%;
    background: $neutral_3;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s linear all;
    &:hover {
      opacity: 0.5;
    }
    & svg {
      color: white;
      height: 0.8rem;
      width: 0.8rem;
    }
  }
}

@media only screen and (max-width: 1665px) {
  $padding__section: 130px;
  .footer {
    padding: 25px $padding__section;
  }
}

@media only screen and (max-width: 1220px) {
  $padding__section: 50px;
  .footer {
    padding: 25px $padding__section;
  }
}

@media only screen and (max-width: 1090px) {
  $padding__section: 20px;
  .footer {
    padding: 25px $padding__section;
  }
}

@media only screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
  }
}
